@use '../abstracts/' as *;

footer {
    position: relative;
    --off-white: rgba(255, 255, 255, 0.952);
    @include flexCenter;
    align-items: flex-start;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 4em;

    p, i {
        color: var(--off-white) !important;
    }

    .rows {
        flex-direction: row;
        align-items: flex-start;
        width: min(1400px, 100%);
    }

    .row {
        @include flexCenter;
        margin-bottom: 0;
    }

    .tm {
        flex-direction: column;
        // align-items: flex-start;

        img {
            margin-bottom: 1em;
            width: 180px;
        }
        p {
            font-size: 1.2rem;
        }
    }
    .social-links {

        p {
            font-size: 1.2rem;
            margin-bottom: 1em;
        }
    
        .links-container {
            @include flexCenter;
            // justify-content: flex-start;
    
            a {
                margin-right: 1em;
                font-size: 3em;
    
                &:last-child { 
                    margin-right: 0;
                }
            }
        }
    }

    @media (max-width: $mediaLg) {
        .rows {
            flex-direction: column-reverse;
        }

        .row {
            flex-direction: column;
            justify-content: flex-start;
            width: min(400px, 100%);
            margin: 0 auto;
            margin-bottom: 6em;

            &:first-child {
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 6em;
            }
        }
    }
    @media (max-width: $mediaMd) {
    }
    @media (max-width: $mediaSm) {
        .rows { 
            flex-direction: column-reverse;
        }
        .row {
            margin-bottom: 3rem !important;

            &:first-child {
                margin-bottom: 0;
            }
        }
    }
}