@use '../abstracts/' as *;

form {
    overflow: hidden;

}

label {
    color: var(--off-white);

    &:last-child {
        padding-top: 2em;
    }
}

input {
    background-color: transparent;
    color: var(--off-white);
    padding: .4em;
    border: 2px solid var(--off-white);
    border-width: 0 0 2px 0;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 1rem;
    font-size: 1.2rem;

    &::placeholder {    
        color: rgba(255, 250, 250, 0);
    }
}

form .btn {
    background-color: white;
    background-color: var(--off-white);
    color: black;
    border-radius: 10px;
    margin-top: 1em;
    font-size: 1.2rem;
    padding: 1rem 2rem;

    &::before {
        @include easeInOut;
        @include flexCenter;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        content: 'Thank you!';
        width: 100%;
        height: 100%;
        border-radius: inherit;
        opacity: 0;
        pointer-events: none;
        background-color: white; 
        color: $off-black;
    }
}

.form-group {
    @include easeInOut;
}

form.success {
    .form-group {
        height: 0px;
    }

    .btn {
        cursor: default;
        pointer-events: none;
    }

    .btn::before {
        opacity: 1;
    }
}