@use '../abstracts/' as *;

.team-section {
    
    .row {
        justify-content: flex-start;
        align-items: center;
    }

    .contact-container {
        @include flexCenter;
    }

    .headshot-container {
        @include flexCenter;
        flex-direction: column;
        margin-right: 4em;

        .headshot {
            @include boxShadow;
            background-image: url(../../img/headshot.jpg);
            // background-color: rgba(0, 0, 0, 0.466);
            background-blend-mode: overlay;
            background-size: cover;
            background-position: top center;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            filter: grayscale(1);
        }

        .name {
            margin-top: .6em;
            font-size: 1.4rem;
            font-style: italic;
            line-height: 1.6;
        }
    }

    .get-in-touch {
        width: 300px;
        line-height: 1.6;

        p {
            margin-bottom: 2em;
            font-size: 1.4rem;
            text-align: center;
        }

        .btn-contact {
            position: relative;
            display: block;
            text-align: center;
            width: 100%;
            color: black;
            font-style: italic;
            overflow: hidden;

            &::before {
                @include easeInOut(0s,.4s);
                content: 'Email Dan.';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: black;
                color: white;
                padding: 1em 2em;
                clip-path: circle(50px at 0 50%);
            }

            &:hover::before {
                clip-path: circle(800px at 0 0);
            }
        }
    }
    .row.about {
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .about {
        // height: 100px;

        &-heading {
            margin-bottom: 2em;
        }

        .linked-in {
            position: relative;
            @include easeInOut;
            @include flexCenter;
            font-size: 4rem;
            padding: .4rem .6rem;
            margin-right: 1em;
            overflow: hidden;

            &::before {
                @include easeInOut;
                content: '';
                position: absolute;
                z-index: -1;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.877);
                border-radius: 8px;
                transform: translateX(-105%);
            }

            &:hover {
                color: white;
            
                &::before{
                    transform: translateX(0);
                }
            }
        }

        &__list {
            display: list-item;
            @include flexCenter;
            align-items: flex-start;
        }

        &__list-item {
            @include flexCenter;
            justify-content: flex-start;
            position: relative;
            line-height: 1.4;
            font-style: italic;
            min-height: 125px;
            max-width: 300px;
            padding: .4rem;
            padding-left: 1.2rem;
            border-left: 4px solid rgb(105, 105, 105);

            &::before {
                // content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 4px;
                height: 100%;
                background-color: black;

                transform: translateX(calc(-100% - 0em));
                transform: translateX(-100%);
            }
        }

    }

    @media (max-width: $mediaXl) {
        .introduction {
            // flex-direction: column-reverse;

            .about-introduction {
                flex-basis: unset;
                width: min(100%, 400px);
                margin-right: 0;
                height: 200px;
            }

            .contact-container {
                margin-bottom: 4em;
            }
        }
    }


    @media (max-width: $mediaMd) {
        .about {
            display: block;
            float: left;

            .linked-in {
                display: block;
                float: left;
                margin-right: 1rem;
                margin-bottom: 1.4rem;
            }

            &-heading {
                padding: 0;
            }

            &__list {
                display: block;
                float: left;
                // width: min(100%, 500px);
            }

            &__list-item {
                max-width: unset;
                margin: 0;
                margin-bottom: 1rem;
                max-width: 400px;
                min-height: 100%;
            }
        }
    }
    
    @media (max-width: $mediaSm) {
        .introduction {
            
            .contact-container {
                flex-direction: column;
            }

            .headshot-container {
                margin-right: 0;
                margin-bottom: 2rem;
            }

            .get-in-touch {

                p {
                    font-size: 1rem;
                }

                .btn-contact {
                    padding: .6rem 1rem;
                }
            }
        }
    }
}