@use '../abstracts/' as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Permanent+Marker&display=swap');

.team-section {
    justify-content: flex-start;
    
    .row {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .introduction-container {
        @include flexCenter;
        align-items: flex-start;
        padding-right: 10%;
    }

    .headshot-container {
        @include flexCenter;
        flex-direction: column;
        margin-right: 4em;

        .headshot {
            --size: 30vw;
            min-width: 200px;
            min-height: 200px;
            max-width: 400px;
            max-height: 400px;
            @include boxShadow;
            border: 1px solid rgba(0, 0, 0, 0.548);
            background-image: url(../img/headshot.png);
            background-blend-mode: overlay;
            background-size: cover;
            background-position: top center;
            width: var(--size);
            height: var(--size);
            border-radius: 50%;
            filter: grayscale(1);
        }

        .info-container {
            position: relative;
            @include flexCenter;
            justify-content: center;
            margin-top: .6em;
            width: 100%;

            .name-container {
                margin-right: 1rem;
            }

            p {
                font-size: 1.6rem;
                line-height: 1.6;
                text-align: center;
            }

            .name {
                font-weight: 900;
            }

            .title {
                font-style: italic;
            }

            .linked-in {
                position: relative;
                @include easeInOut;
                @include flexCenter;
                font-size: 4rem;
                padding: .4rem .6rem;
                overflow: hidden;
                // position: absolute;
                right: 0;
                top: 50%;
                // transform: translateY(-50%);

                
                &:hover {
                    color: white;
                
                    &::before{
                        transform: translateX(0);
                    }
                }
    
                &::before {
                    @include easeInOut;
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.877);
                    border-radius: 8px;
                    transform: translateX(-105%);
                }
            }
        }
    }

    .about {
        margin-top: 4em;

        &-heading {
            font-size: 2rem;
            margin-bottom: 2em;
        }

        &__list {
            position: relative;
            display: list-item;
            @include flexCenter;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 8%;
        }

        &__list-item {
            @include flexCenter;
            justify-content: flex-start;
            align-items: flex-start;
            position: relative;
            line-height: 1.4;
            font-style: italic;
            font-size: 1.2rem;
            padding: 0 .4rem;
            padding-left: 1.6rem;
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                position: absolute;
                content: '';
                left: 0;
                width: 4px;
                height: 100%;
                background: rgba(0, 0, 0, 0.644);
            }
        }

    }

    .get-in-touch {
        @include flexCenter;
        justify-content: flex-end;
        flex-direction: column;
        line-height: 1.6;
        margin-top: 6em;
        width: 400px;

        p {
            font-size: 1.4rem;
        }

        .btn-contact {
            position: relative;
            width: 100%;
            text-align: center;

            &:hover::after {
                clip-path: circle(100% at 50% 50%);
            }

            &::after {
                @include easeInOut;
                @include flexCenter;
                position: absolute;
                content: 'dan@nulanes.com';
                color: white;
                top: -1px;
                left: -1px;
                right: -1px;
                bottom: -1px;
                background: black;
                clip-path: circle(0% at 50% 50%);
                border-radius: inherit;
            }
        }

    }

    @media (max-width: $mediaMd) {
        .introduction-container {
            padding-right: 0;
        }

        .about {
            &-heading {
                padding: 0;
            }

            &__list {
                display: block;
            }

            &__list-item {
                max-width: unset;
                margin: 0;
                margin-bottom: 1rem;
                max-width: 400px;
                min-height: 100%;
                font-size: 1rem;
            }

            .get-in-touch {
                p {
                    font-size: 1.2rem;
                }

                .btn-contact {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    
    @media (max-width: $mediaSm) {
        flex-direction: column;

        .row {
            margin-bottom: 0;
        }

        .introduction-container {
            flex-direction: column;
        }

        .headshot-container {
            margin: 0 auto;

            .headshot {
                --size: 300px;
            }
        }

        .about {
            &-heading {
                margin-bottom: 1em;
            }
        }

        .get-in-touch {
            margin-top: 3em;
            p {
            }

            .btn-contact {
                padding: .6rem 1rem;
            }
        }
    }
}